table.table_layout {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
td, th {
    text-align: center;
    border: 1px solid black;
    width: 150px;
}
tr.header {
    height: 60px;
    text-align: center;
}
html {
  background: url(main_background.jpg) no-repeat center fixed;
  background-size: cover;
}
input.submit_button {
  border: none;
  background-color: rgb(76, 91, 221);
  color: rgb(244, 245, 247);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  font-weight: bold;
}
button.submit_button {
  border: none;
  background-color: rgb(76, 91, 221);
  color: rgb(244, 245, 247);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  font-weight: bold;
}