<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Intelligent Timetabling System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='query1.css') }}">
  </head>
  <body>
    <div class="main_model">
    <h1>Intelligent Timetabling System</h1>
    <h2>Please check the boxes for the courses you would like to delete</h2>
    <form>
      <table>
        <tr class="header">
          <th>Course</th>
          <th>Class</th>
          <th>Term</th>
          <th>Course Nature</th>
          <th>Instructor</th>
          <th>Timeslot</th>
          <th>Delete</th>
        </tr>
        {% for result in courses_info %}
            <tr>
                <td>{{ result['course'] }}</td>
                <td>{{ result['class_code'] }}</td>
                <td>{{ result['term'] }}</td>
                <td>{{ result['course_nature'] }}</td>
                <td>{{ result['instructor'] }}</td>
                <td>{{ result['timeslot'] }}</td>
                <td>
                  <input type="checkbox" name="{{ result['id'] }}" />
                </td>
            </tr>
        {% endfor %}
      </table>
      <div style="position:absolute;top:82.5%;left:37.5%">
      <input class="submit_button" type="submit" value="Submit" />
      </div>
    </form>
    </div>
  </body>
</html>