<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Intelligent Timetabling System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_main2.css') }}">
  </head>
  <body style="height:100%; overflow:hidden">
    <div>
    <h1 style="color: lavenderblush;margin:auto;position:absolute;top:13%;left:25%;display:block;width:50%;text-align:center">Intelligent Timetabling System for Administrator</h1>
    <h2 style="color: lavenderblush;margin:auto;position:absolute;top:35%;left:38%;">Please choose a service below</h2>
    </div>
    <div>
    <div style="position:absolute;left:0;right:0;bottom:0;width:100%;height:50%;background: rgba(224, 226, 222, 0.7);">
    <div style="width:25%;height:100%;border-right: rebeccapurple solid;position:absolute;left:0;">
      <h3 style="text-align: center;display:block;margin-top:30px;font-size:larger;">Update Course Information</h3>
      <a href="{{ url_for( 'admin_update' ) }}">
      <img src="{{ url_for('static', filename='update_icon.png') }}" height="150" width="150" style="display:block;margin-left:auto;margin-right:auto;margin-top:40px;">
      </a>
    </div>
    <div style="width:25%;height:100%;border-right: rebeccapurple solid;position:absolute;left:25%;">
    <h3 style="text-align: center;display:block;margin-top:30px;font-size:larger;">Add Course Information</h3>
      <a href="{{ url_for( 'admin_update' ) }}">
      <img src="{{ url_for('static', filename='add_icon.png') }}" height="150" width="150" style="display:block;margin-left:auto;margin-right:auto;margin-top:40px;">
      </a>
    </div>
    <div style="width:25%;height:100%;border-right: rebeccapurple solid;position:absolute;left:50%;">
    <h3 style="text-align: center;display:block;margin-top:30px;font-size:larger;">Delete Course Information</h3>
      <a href="{{ url_for( 'admin_delete' ) }}">
      <img src="{{ url_for('static', filename='delete_icon.png') }}" height="150" width="150" style="display:block;margin-left:auto;margin-right:auto;margin-top:40px;">
      </a>
    </div>
    <div style="width:25%;height:100%;position:absolute;left:75%;">
    <h3 style="text-align: center;display:block;margin-top:30px;font-size:larger;">Get Course Information</h3>
      <a href="{{ url_for( 'admin_query' ) }}">
      <img src="{{ url_for('static', filename='download_icon.png') }}" height="180" width="180" style="display:block;margin-left:auto;margin-right:auto;margin-top:20px;">
      </a>
    </div>
    </div>
    </div>
  </body>
</html>