<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8" />
    <title>Intelligent Timetabling System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='course_conflicts.css') }}">
    <body>
        <div class="main_model">
        <h2>The following courses are in time conflicts:</h2>
        {% for conflict in conflicts_list %}
        <h3>{{ conflict }}</h3>
        {% endfor %}
        <div style="position:relative;top:30%">
        <button class="back_button" type="button" onclick="window.location.href='{{ url_for( 'main' ) }}';">Back to main</button>
    </div>    
    </div>
    </body>
</html>