<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Intelligent Timetabling System</title>
  </head>
  <body>
    {% if number_course %}
    <form method="POST" action="/result">
      Term: Semester {{ term }} <br />
      <table>
          <tr>
              <th>Course</th>
              <th>Class</th>
          </tr>
          {% for i in range(number_course) %} 
          <tr>
              <td>
                    <input type="text" name="course {{ i + 1 }}" />
              </td>
              <td>
                    <input type="text" name="class {{ i + 1 }}" />
              </td>
          </tr>
          {% endfor %}
      </table>
      <input type="submit" value="Submit" />
    </form>
    {% else %}
    <form method="POST" action="/">
      Term:
      <select name="term" required>
        <option value="1">Semester 1</option>
        <option value="2">Semester 2</option>
      </select>
      Number of courses:
      <select name="no_courses" required>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
      <br />
      <input type="submit" value="Submit" />
    </form>
    {% endif %}
  </body>
</html>
