<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Intelligent Timetabling System</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='images/icons/favicon.ico')}}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='vendor/animate/animate.css')}}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='vendor/select2/select2.min.css')}}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='vendor/perfect-scrollbar/perfect-scrollbar.css')}}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/util.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/main_table.css')}}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='fonts/Linearicons-Free-v1.0.0/icon-font.min.css')}}"
    />
    <!--===============================================================================================-->
  </head>
  <body>
    <div class="limiter">
      <div
        class="container-login100"
        style="background-image: url('static/images/bg-01.jpg');"
      >
        <span class="login100-form-title p-b-41 p-t-20">
          The following course(s) is/are updated successfully:
        </span>
          <div class="wrap-table100">
            <div class="table100">
              <table>
                <thead>
                  <tr class="table100-head">
                    <th>Course</th>
                    <th>Class</th>
                    <th>Term</th>
                    <th>Course nature</th>
                    <th>Instructor</th>
                    <th>Timeslot</th>
                  </tr>
                </thead>
                <tbody>
                {% for result in update_courses %}
                <tr class="table-row">
                    <td>{{ result['course'] }}</td>
                    <td>{{ result['class_code'] }}</td>
                    <td>{{ result['term'] }}</td>
                    <td>{{ result['course_nature'] }}</td>
                    <td>{{ result['instructor'] }}</td>
                    <td>{{ result['timeslot'] }}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="container-login100-form-btn m-t-7">
            <button
              type="button"
              onclick="window.location.href='{{ url_for( 'admin_main' ) }}';"
              style="font-size: xx-large;margin: 8px;color:lightgrey;"
            >
              <i class="lnr lnr-chevron-left-circle"></i>
            </button>
            <button
              type="button"
              onclick="window.location.href='{{ url_for( 'main' ) }}';"
              style="font-size: xx-large;margin: 8px;color:lightgrey;"
            >
              <i class="lnr lnr-home"></i>
            </button>
          </div>
      </div>
      <footer style="background-color: black; color: lightgrey; padding-left: 16px;">
        Licensed under CC BY 3.0
      </footer>
    </div>

    <!--===============================================================================================-->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
    <!--===============================================================================================-->
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
    <!--===============================================================================================-->
    <script src="{{ url_for('static', filename='vendor/select2/select2.min.js')}}"></script>
    <!--===============================================================================================-->
    <script src="{{ url_for('static', filename='js/main_table.js')}}"></script>
  </body>
</html>
