<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Intelligent Timetabling System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='update3.css') }}">
  </head>
  <body>
    {% if number_course %}
    <div class="main_model_2">
    <h1>Intelligent Timetabling System</h1>
    <h2 style="font-style: italic;">Design your own course timetable</h2>
    <form method="POST" action="/course_results">
      <div style="font-size:1.17em; font-weight:bold;margin-bottom:5px">Please fill in the course details:</div>
      <div class="table_style">
      <table class="table_layout">
          <tr>
              <th>Course</th>
              <th>Class</th>
              <th>Term</th>
              <th>Course nature</th>
              <th>Instructor</th>
              <th>Timeslot</th>
          </tr>
          {% for i in range(number_course) %} 
          <tr>
              <td>
                    <input type="text" name="course_t {{ i + 1 }}" />
              </td>
              <td>
                    <input type="text" name="class_t {{ i + 1 }}" />
              </td>
              <td>
                    <div class="term_select" style="width:150px">
                    <select name="term_t {{ i + 1 }}" required>
                      <option value="1">Semester 1</option>
                      <option value="2">Semester 2</option>
                      <option value="summer">Summer Semester</option>
                      <option value="full_year">Full year</option>
                    </select>
                    </div>
              </td>
              <td>
                    <div class="course_nature_select" style="width:150px">
                      <select name="course_nature_t {{ i + 1 }}" required>
                        <option value="Year 1 Core">Year 1 Core</option>
                        <option value="Year 2 Core">Year 2 Core</option>
                        <option value="Year 3 Core">Year 3 Core</option>
                        <option value="Year 4 Core">Year 4 Core</option>
                        <option value="Year 2-4 Elective">Year 2-4 Elective</option>
                      </select>
                      </div>
              </td>
              <td>
                    <input type="text" name="instructor_t {{ i + 1 }}" />
              </td>
              <td>
                    <input type="text" name="time_t {{ i + 1 }}" />
              </td>
          </tr>
          {% endfor %}
      </table>
      </div>
      <div style="position:absolute;top:10%;left:103%">
      <input class="submit_button" type="submit" value="Submit" />
      </div>
    </form>
  </div>
    {% else %}
  <div class="main_model_1">
    <h1>Intelligent Timetabling System</h1>
    <h2 style="font-style: italic;">Design your own course timetable</h2>
    <form method="POST" action="/teacher_update">
    <div>
      <div style="width:300px;right:18%;position:absolute">
      <span style="font-size:1.2em">Number of courses:</span>
      <input type="text" name="no_courses_t" />
      </div>
      <br />
      <div style="position:absolute;top:75%;left:35%">
      <input class="submit_button" type="submit" value="Submit" />
      </div>
    </div>
    </form>
    {% endif %}
    </div>
  </body>
</html>
