<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Intelligent Timetabling System</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"> -->
  </head>
  <body>
    <div class="main_model">
    <h1>Intelligent Timetabling System</h1>
    <h2>I want to get the course information in</h2>
    <div>
        <button class="sem1_button" type="button" onclick="window.location.href='{{ url_for( 'teacher_query_result', selected_term='1' ) }}';">Semester 1</button>
    </div>
    <div>
        <button class="sem2_button" type="button" onclick="window.location.href='{{ url_for( 'teacher_query_result', selected_term='2' ) }}';">Semester 2</button>
    </div>
    <div>
        <button class="summersem_button" type="button" onclick="window.location.href='{{ url_for( 'teacher_query_result', selected_term='summer' ) }}';">Summer Semester</button>
    </div>
    <div>
        <button class="fullyear_button" type="button" onclick="window.location.href='{{ url_for( 'teacher_query_result', selected_term='full_year' ) }}';">Full Year</button>
    </div>
    <div>
        <button class="all_button" type="button" onclick="window.location.href='{{ url_for( 'teacher_query_result', selected_term='all_courses' ) }}';">All courses</button>
    </div>
    </div>
  </body>
</html>