<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Intelligent Timetabling System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='query1.css') }}">
  </head>
  <body>
    <div class="main_model">
    <h1>Intelligent Timetabling System</h1>
    <h2>I want to get the course information in</h2>
    <div style="position:absolute;top:40%;right:60%;">
        <button class="sem1_button" type="button" onclick="window.location.href='{{ url_for( 'teacher_query_result', selected_term='1' ) }}';">Semester 1</button>
    </div>
    <div style="position:absolute;top:40%;right:10%;">
        <button class="sem2_button" type="button" onclick="window.location.href='{{ url_for( 'teacher_query_result', selected_term='2' ) }}';">Semester 2</button>
    </div>
    <div style="position:absolute;top:60%;right:50%;">
        <button class="summersem_button" type="button" onclick="window.location.href='{{ url_for( 'teacher_query_result', selected_term='summer' ) }}';">Summer Semester</button>
    </div>
    <div style="position:absolute;top:60%;right:10%;">
        <button class="fullyear_button" type="button" onclick="window.location.href='{{ url_for( 'teacher_query_result', selected_term='full_year' ) }}';">Full Year</button>
    </div>
    <div style="position:absolute;top:80%;right:15%">
        <button class="all_button" type="button" onclick="window.location.href='{{ url_for( 'teacher_query_result', selected_term='all_courses' ) }}';">I want to get all course information</button>
    </div>
    </div>
  </body>
</html>